<table class='table table-hover table-inverse'>
  <thead>
    <tr>
      <th></th>
      <th>Title</th>
      <th>Opinion</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% books.each do |book| %>
      <tr>
        <td><%= link_to user_path(book.user) do %>
          <%= image_tag book.user.get_profile_image(50,50) %>
          <% end %>
        </td>
        <td><%= link_to book.title,book %></td>
        <td><%= book.body %></td>
        <td>
          <%= render "favorites/favorite-btn", book: book %>
        </td>
        <td>
          <p>コメント件数：<%= book.book_comments.count %></p>
          <% book.book_comments.each do |book_comment| %>
            <p><%= image_tag book_comment.user.get_profile_image(100,100) %></p>
            <%= book_comment.user.name %>
            <%= book_comment.created_at.strftime('%Y/%m/%d') %><%= book_comment.comment %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>